<div class="container">
    <div class="row">
      <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
        <div class="card card-signin my-5">
          <div class="card-body">
            <h5 class="card-title text-center">Sign In</h5>
            <form class="form-signin" (ngSubmit)="onSubmit()" #loginForm="ngForm">
              <div class="form-label-group">
                <input type="email" id="inputEmail" class="form-control" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" 
                
                [(ngModel)]="userCredentials.email" name="email" #email="ngModel" placeholder="Email address" required autofocus>
                <label for="inputEmail">Email address</label>
              </div>
              <div [hidden]="email.valid || email.pristine " class="alert alert-danger">
                Please Enter Valid Email Address
              </div>
              <div class="form-label-group">
                <input type="password" id="inputPassword" [(ngModel)]="userCredentials.password"
                 name="password" class="form-control" 
                 pattern="(?=^.{8,20}$)(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[!@#$%^&amp;*()_+}{&quot;:;'?/&gt;.&lt;,])(?!.*\s).*$"
                 #password="ngModel" placeholder="Password" required>
                <label for="inputPassword">Password</label>
              </div>
              <div [hidden]="password.valid || password.pristine " class="alert alert-danger">
                Please Enter Valid password Address
              </div>
              <div class="form-label-group">

              <select style="border-radius: 2rem " name="type" required [(ngModel)]="userCredentials.type" class="form-control">
                <option value="editor" >Editor</option>
                <option value="admin" >Admin</option>
              </select>
              </div>
              <button class="btn btn-lg btn-primary btn-block text-uppercase" [disabled]="!loginForm.form.valid" type="submit">Sign in</button>
             </form>
          </div>
        </div>
      </div>
    </div>
  </div>